<div class="login-container">
  <form class="ui big form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="field">
      <label >Username</label>
      <input #username formControlName="username" type="text" name="username" placeholder="Username" ngModel>
      <small *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
        <small *ngIf="loginForm.controls['username'].errors.required">
          Enter your username!
        </small>
      </small>    
  </div>

    <div class="field">
      <label >Password</label>
      <input #pssword formControlName="password" type="password" name="password" placeholder="Password" ngModel>
      <small *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        <small *ngIf="loginForm.controls['password'].errors.required">
          Enter your password!
        </small>
      </small>
  </div>
    
    <button type="submit" class="ui primary button float right floated">Login</button>
  </form>
</div>
