<div class="login-container">
  <div class="ui icon message" *ngIf="sessionExpired">
    <i class="exclamation circle icon"></i>
    <i class="close icon" (click)="sessionExpired = null"></i>
    <div class="content">
      <div class="header">
        Session Expired!
      </div>
        Please login again!
    </div>
  </div>
  <form class="ui big form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="field">
      <label >Username</label>
      <input #username formControlName="username" type="text" name="username" placeholder="Username">
      <small *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
        <small *ngIf="loginForm.controls['username'].errors.required">
          Enter your username!
        </small>
      </small>    
      <small *ngIf='userServerError'>
        {{userServerError}}
      </small>
  </div>

    <div class="field">
      <label >Password</label>
      <input #pssword formControlName="password" type="password" name="password" placeholder="Password">
      <small *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        <small *ngIf="loginForm.controls['password'].errors.required">
          Enter your password!
        </small>
      </small>
      <small *ngIf="passwordServerError">
        {{passwordServerError}}
      </small>
    </div>
    
    <button type="submit" [disabled]="loginForm.invalid" class="ui primary button float right floated">Login</button>
  </form>
</div>
