<div class="ui card">
  <div class="image">
    <fa-icon icon="times" style="color:red; position: absolute; left:5px;"></fa-icon>
    <div *ngIf="contact.photoUrl.data; then binaryImage else serverImage"></div>
    <ng-template #binaryImage> <img [src]="contact?.photoUrl.data"> </ng-template>
    <ng-template #serverImage> <img [src]="contact?.photoUrl"> </ng-template>
  </div>
  <div class="content">
    <div *ngIf="contact.name; then name else firstNameLastName"></div>
    <ng-template #name> <a class="header">{{contact.name}}</a> </ng-template>
    <ng-template #firstNameLastName> <a class="header">{{contact.firstName}} {{contact.lastName}}</a> </ng-template>
    <div class="description">
      {{contact.address}}
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="call icon"></i>
      <div *ngIf="contact.phone; then phoneDataOneValue else phoneDataDetails"></div>
      <ng-template #phoneDataOneValue> {{ contact.phone }} </ng-template>
      <ng-template #phoneDataDetails> {{contact.areaCode}} {{contact.prefix}}-{{contact.lineNumber}} </ng-template>
    </span>
  </div>
  <div class="extra content">
    <app-delete-contact-modal [contact]="contact"></app-delete-contact-modal>
    <app-edit-contact-modal [contact]="contact"></app-edit-contact-modal>
  </div>
</div>

